
#me{
    float: right;
    color: azure;
    position:absolute;
    width: 30%;
    right: 15%;
    top: 20%;
}

*{
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: nowrap;
    
}
.dpic {
    float: left;
    
    animation: blinker 5s linear infinite;
    /* Larger, responsive font size */
    margin-bottom: 20px;
}
   @keyframes blinker {
    50%
    {
            opacity: 0.5;
        }
    }
#blink{
    color: rgb(211, 234, 242);
    animation: blinker 5s linear infinite;
    /* Larger, responsive font size */
    margin-bottom: 20px;
}
   
   @keyframes blinker {
    50%
    {
            opacity: 0.5;
        }
    }
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: black;
    margin-top: 50px;
    text-align: center;
    margin-top: auto;
    color: azure;

}
