*{
    font-family: 'Courier New', Courier, monospace;
    
}
.dpic {
    float: left;
    width: 70%;
    animation: blinker 5s linear infinite;
    /* Larger, responsive font size */
    margin-bottom: 20px;
}
   
   @keyframes blinker {
    50%
    {
            opacity: 0.5;
        }
    }
#blink{
    color: rgb(129, 208, 235);
    animation: blinker 5s linear infinite;
    /* Larger, responsive font size */
    margin-bottom: 20px;
}
   
   @keyframes blinker {
    50%
    {
            opacity: 0.5;
        }
    }
